In [1]:
import gc

import modin.pandas as pd

import modin
import pandas

In [2]:
df = pd.read_csv("~/data/G1_1e7_1e2_0_0.csv")

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    import ray
    ray.init()

2023-07-18 17:53:32,604	INFO worker.py:1636 -- Started a local Ray instance.
UserWarning: Defaulting to pandas implementation.
Please refer to https://modin.readthedocs.io/en/stable/supported_apis/defaulting_to_pandas.html for explanation.
Reason: No such file: '/Users/matthew.powers/Documents/code/my_apps/pydata-examples/modin/~/data/G1_1e7_1e2_0_0.csv'

In [3]:
df

           id1    id2           id3  id4  id5    id6  v1  v2         v3
0        id016  id016  id0000042202   15   24   5971   5  11  37.211254
1        id039  id045  id0000029558   40   49  39457   5   4  48.951141
2        id047  id023  id0000071286   68   20  74463   2  14  60.469241
3        id043  id057  id0000015141   32   43  63743   1  15   7.692145
4        id054  id040  id0000011083    9   25  16920   2   9  22.863525
...        ...    ...           ...  ...  ...    ...  ..  ..        ...
9999995  id003  id044  id0000019084   86   65  81507   4   8  30.926485
9999996  id096  id068  id0000020362    4   85  95388   3  11  53.268709
9999997  id071  id006  id0000046057   52   57  55223   1  13  90.368393
9999998  id057  id099  id0000060922   47   36  90944   3   8  34.878200
9999999  id091  id062  id0000084502   68   83  97012   4  10  97.998105

[10000000 rows x 9 columns]

In [4]:
df.head(3)

     id1    id2           id3  id4  id5    id6  v1  v2         v3
0  id016  id016  id0000042202   15   24   5971   5  11  37.211254
1  id039  id045  id0000029558   40   49  39457   5   4  48.951141
2  id047  id023  id0000071286   68   20  74463   2  14  60.469241

## 1e8 CSV

In [5]:
%%time

modin.pandas.read_csv("~/data/G1_1e8_1e2_0_0.csv").groupby("id1").agg({"v1": "sum"})

(raylet) Spilled 2053 MiB, 13 objects, write throughput 1307 MiB/s. Set RAY_verbose_spill_logs=0 to disable this message.
(raylet) Spilled 4825 MiB, 17 objects, write throughput 1859 MiB/s.

CPU times: user 1min 5s, sys: 9.46 s, total: 1min 14s
Wall time: 1min 15s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

In [6]:
%%time

pandas.read_csv("~/data/G1_1e8_1e2_0_0.csv").groupby("id1").agg({"v1": "sum"})

CPU times: user 43.3 s, sys: 6.84 s, total: 50.2 s
Wall time: 49.9 s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

## 1e8 Parquet

In [7]:
%%time

modin.pandas.read_parquet("~/data/parquet/G1_1e8_1e2_0_0.parquet").groupby("id1").agg(
    {"v1": "sum"}
)

(raylet) Spilled 8536 MiB, 35 objects, write throughput 2156 MiB/s.

CPU times: user 380 ms, sys: 757 ms, total: 1.14 s
Wall time: 24.1 s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

In [8]:
%%time

pandas.read_parquet("~/data/parquet/G1_1e8_1e2_0_0.parquet").groupby("id1").agg(
    {"v1": "sum"}
)

CPU times: user 22.7 s, sys: 4.05 s, total: 26.7 s
Wall time: 26.4 s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

## 1e8 Parquet + column pruning

In [9]:
%%time

modin.pandas.read_parquet(
    "~/data/parquet/G1_1e8_1e2_0_0.parquet", columns=["id1", "v1"]
).groupby("id1").agg({"v1": "sum"})

CPU times: user 55.3 ms, sys: 104 ms, total: 160 ms
Wall time: 4.23 s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

In [10]:
%%time

pandas.read_parquet(
    "~/data/parquet/G1_1e8_1e2_0_0.parquet", columns=["id1", "v1"]
).groupby("id1").agg({"v1": "sum"})

CPU times: user 4.11 s, sys: 932 ms, total: 5.05 s
Wall time: 4.94 s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

## Does pandas CSV usecols make queries run faster?

In [11]:
%%time

modin.pandas.read_csv("~/data/G1_1e8_1e2_0_0.csv", usecols=["id1", "v1"]).groupby(
    "id1"
).agg({"v1": "sum"})

CPU times: user 19.1 s, sys: 2.88 s, total: 21.9 s
Wall time: 21.1 s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

In [12]:
%%time

pandas.read_csv("~/data/G1_1e8_1e2_0_0.csv", usecols=["id1", "v1"]).groupby("id1").agg(
    {"v1": "sum"}
)

CPU times: user 18.4 s, sys: 2.88 s, total: 21.3 s
Wall time: 20.9 s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

## 1e9 CSV + usecols

In [13]:
%%time

modin.pandas.read_csv("~/data/G1_1e9_1e2_0_0.csv", usecols=["id1", "v1"]).groupby(
    "id1"
).agg({"v1": "sum"})

(raylet) Spilled 16684 MiB, 56 objects, write throughput 2696 MiB/s.

CPU times: user 3min 13s, sys: 31.9 s, total: 3min 45s
Wall time: 3min 49s

             v1
id1
id001  30009448
id002  29996534
id003  30003365
id004  30015990
id005  29993888
...         ...
id096  29993372
id097  30015928
id098  29997789
id099  30009485
id100  29987827

[100 rows x 1 columns]

In [14]:
%%time

pandas.read_csv("~/data/G1_1e9_1e2_0_0.csv", usecols=["id1", "v1"]).groupby("id1").agg(
    {"v1": "sum"}
)

CPU times: user 3min 6s, sys: 26.1 s, total: 3min 32s
Wall time: 3min 30s

             v1
id1
id001  30009448
id002  29996534
id003  30003365
id004  30015990
id005  29993888
...         ...
id096  29993372
id097  30015928
id098  29997789
id099  30009485
id100  29987827

[100 rows x 1 columns]

## 1e9 CSV + pyarrow + usecols

In [15]:
%%time

modin.pandas.read_csv(
    "~/data/G1_1e9_1e2_0_0.csv", engine="pyarrow", usecols=["id1", "v1"]
).groupby("id1").agg({"v1": "sum"})

(raylet) Spilled 33475 MiB, 79 objects, write throughput 2495 MiB/s.

CPU times: user 2min 31s, sys: 53.8 s, total: 3min 24s
Wall time: 4min 35s

             v1
id1
id001  30009448
id002  29996534
id003  30003365
id004  30015990
id005  29993888
...         ...
id096  29993372
id097  30015928
id098  29997789
id099  30009485
id100  29987827

[100 rows x 1 columns]

In [ ]:
%%time

pandas.read_csv(
    "~/data/G1_1e9_1e2_0_0.csv", engine="pyarrow", usecols=["id1", "v1"]
).groupby("id1").agg({"v1": "sum"})

## 1e9 Parquet with column pruning

In [3]:
%%time

modin.pandas.read_parquet(
    "~/data/G1_1e9_1e2_0_0.parquet", columns=["id1", "v1"]
).groupby("id1").agg({"v1": "sum"})

(raylet) Spilled 3051 MiB, 5 objects, write throughput 1081 MiB/s. Set RAY_verbose_spill_logs=0 to disable this message.
(raylet) Spilled 5340 MiB, 8 objects, write throughput 1440 MiB/s.

CPU times: user 2.16 s, sys: 772 ms, total: 2.93 s
Wall time: 20.2 s

(raylet) Spilled 9538 MiB, 26 objects, write throughput 1970 MiB/s.

             v1
id1
id001  30009448
id002  29996534
id003  30003365
id004  30015990
id005  29993888
...         ...
id096  29993372
id097  30015928
id098  29997789
id099  30009485
id100  29987827

[100 rows x 1 columns]

In [4]:
%%time

pandas.read_parquet(
    "~/data/G1_1e9_1e2_0_0.parquet", columns=["id1", "v1"]
).groupby("id1").agg({"v1": "sum"})

CPU times: user 45.4 s, sys: 10.8 s, total: 56.2 s
Wall time: 55 s

             v1
id1
id001  30009448
id002  29996534
id003  30003365
id004  30015990
id005  29993888
...         ...
id096  29993372
id097  30015928
id098  29997789
id099  30009485
id100  29987827

[100 rows x 1 columns]

## Print library versions

In [5]:
!conda list

# packages in environment at /Users/matthew.powers/opt/miniconda3/envs/modin:
#
# Name                    Version                   Build  Channel
aiohttp                   3.8.4                    pypi_0    pypi
aiohttp-cors              0.7.0                    pypi_0    pypi
aiosignal                 1.3.1                    pypi_0    pypi
anyio                     3.7.1              pyhd8ed1ab_0    conda-forge
appnope                   0.1.3              pyhd8ed1ab_0    conda-forge
argon2-cffi               21.3.0             pyhd8ed1ab_0    conda-forge
argon2-cffi-bindings      21.2.0           py39h02fc5c5_3    conda-forge
asttokens                 2.2.1              pyhd8ed1ab_0    conda-forge
async-lru                 2.0.3              pyhd8ed1ab_0    conda-forge
async-timeout             4.0.2                    pypi_0    pypi
attrs                     23.1.0             pyh71513ae_1    conda-forge
babel                     2.12.1             pyhd8ed1ab_1    conda-forge
backcall                  0.2.0              pyh9f0ad1d_0    conda-forge
backports                 1.0                pyhd8ed1ab_3    conda-forge
backports.functools_lru_cache 1.6.5              pyhd8ed1ab_0    conda-forge
beautifulsoup4            4.12.2             pyha770c72_0    conda-forge
black                     23.7.0           py39h2804cbe_1    conda-forge
bleach                    6.0.0              pyhd8ed1ab_0    conda-forge
blessed                   1.20.0                   pypi_0    pypi
brotli-python             1.0.9            py39h23fbdae_9    conda-forge
bzip2                     1.0.8                h3422bc3_4    conda-forge
ca-certificates           2023.5.7             hf0a4a13_0    conda-forge
cachetools                5.3.1                    pypi_0    pypi
certifi                   2023.5.7           pyhd8ed1ab_0    conda-forge
cffi                      1.15.1           py39h7e6b969_3    conda-forge
charset-normalizer        3.2.0              pyhd8ed1ab_0    conda-forge
click                     8.1.5           unix_pyh707e725_0    conda-forge
colorama                  0.4.6              pyhd8ed1ab_0    conda-forge
colorful                  0.5.5                    pypi_0    pypi
comm                      0.1.3              pyhd8ed1ab_0    conda-forge
debugpy                   1.6.7            py39h23fbdae_0    conda-forge
decorator                 5.1.1              pyhd8ed1ab_0    conda-forge
defusedxml                0.7.1              pyhd8ed1ab_0    conda-forge
distlib                   0.3.7                    pypi_0    pypi
entrypoints               0.4                pyhd8ed1ab_0    conda-forge
exceptiongroup            1.1.2              pyhd8ed1ab_0    conda-forge
executing                 1.2.0              pyhd8ed1ab_0    conda-forge
filelock                  3.12.2                   pypi_0    pypi
flit-core                 3.9.0              pyhd8ed1ab_0    conda-forge
frozenlist                1.4.0                    pypi_0    pypi
fsspec                    2023.6.0                 pypi_0    pypi
google-api-core           2.11.1                   pypi_0    pypi
google-auth               2.22.0                   pypi_0    pypi
googleapis-common-protos  1.59.1                   pypi_0    pypi
gpustat                   1.1                      pypi_0    pypi
grpcio                    1.49.1                   pypi_0    pypi
idna                      3.4                pyhd8ed1ab_0    conda-forge
importlib-metadata        6.8.0              pyha770c72_0    conda-forge
importlib_metadata        6.8.0                hd8ed1ab_0    conda-forge
importlib_resources       6.0.0              pyhd8ed1ab_1    conda-forge
iniconfig                 2.0.0              pyhd8ed1ab_0    conda-forge
ipykernel                 6.24.0             pyh5fb750a_0    conda-forge
ipython                   8.14.0             pyhd1c38e8_0    conda-forge
ipython_genutils          0.2.0                      py_1    conda-forge
isort                     5.12.0             pyhd8ed1ab_1    conda-forge
jedi                      0.18.2             pyhd8ed1ab_0    conda-forge
jinja2                    3.1.2              pyhd8ed1ab_1    conda-forge
json5                     0.9.14             pyhd8ed1ab_0    conda-forge
jsonschema                4.18.4             pyhd8ed1ab_0    conda-forge
jsonschema-specifications 2023.7.1           pyhd8ed1ab_0    conda-forge
jupyter-lsp               2.2.0              pyhd8ed1ab_0    conda-forge
jupyter_client            8.3.0              pyhd8ed1ab_0    conda-forge
jupyter_core              5.3.1            py39h2804cbe_0    conda-forge
jupyter_events            0.6.3              pyhd8ed1ab_0    conda-forge
jupyter_server            2.7.0              pyhd8ed1ab_0    conda-forge
jupyter_server_terminals  0.4.4              pyhd8ed1ab_1    conda-forge
jupyterlab                4.0.3              pyhd8ed1ab_0    conda-forge
jupyterlab_code_formatter 2.2.1              pyhd8ed1ab_0    conda-forge
jupyterlab_pygments       0.2.2              pyhd8ed1ab_0    conda-forge
jupyterlab_server         2.23.0             pyhd8ed1ab_0    conda-forge
libcxx                    16.0.6               h4653b0c_0    conda-forge
libffi                    3.4.2                h3422bc3_5    conda-forge
libsodium                 1.0.18               h27ca646_1    conda-forge
libsqlite                 3.42.0               hb31c410_0    conda-forge
libzlib                   1.2.13               h53f4e23_5    conda-forge
markupsafe                2.1.3            py39h0f82c59_0    conda-forge
matplotlib-inline         0.1.6              pyhd8ed1ab_0    conda-forge
mistune                   3.0.0              pyhd8ed1ab_0    conda-forge
modin                     0.23.0                   pypi_0    pypi
msgpack                   1.0.5                    pypi_0    pypi
multidict                 6.0.4                    pypi_0    pypi
mypy_extensions           1.0.0              pyha770c72_0    conda-forge
nb_conda                  2.2.1                    unix_6    conda-forge
nb_conda_kernels          2.3.1            py39h2804cbe_2    conda-forge
nbclassic                 1.0.0              pyhb4ecaf3_1    conda-forge
nbclient                  0.8.0              pyhd8ed1ab_0    conda-forge
nbconvert                 7.7.1              pyhd8ed1ab_0    conda-forge
nbconvert-core            7.7.1              pyhd8ed1ab_0    conda-forge
nbconvert-pandoc          7.7.1              pyhd8ed1ab_0    conda-forge
nbformat                  5.9.1              pyhd8ed1ab_0    conda-forge
ncurses                   6.4                  h7ea286d_0    conda-forge
nest-asyncio              1.5.6              pyhd8ed1ab_0    conda-forge
notebook                  6.5.4              pyha770c72_0    conda-forge
notebook-shim             0.2.3              pyhd8ed1ab_0    conda-forge
numpy                     1.25.1                   pypi_0    pypi
nvidia-ml-py              12.535.77                pypi_0    pypi
opencensus                0.11.2                   pypi_0    pypi
opencensus-context        0.1.3                    pypi_0    pypi
openssl                   3.1.1                h53f4e23_1    conda-forge
overrides                 7.3.1              pyhd8ed1ab_0    conda-forge
packaging                 23.1               pyhd8ed1ab_0    conda-forge
pandas                    2.0.3                    pypi_0    pypi
pandoc                    3.1.3                hce30654_0    conda-forge
pandocfilters             1.5.0              pyhd8ed1ab_0    conda-forge
parso                     0.8.3              pyhd8ed1ab_0    conda-forge
pathspec                  0.11.1             pyhd8ed1ab_0    conda-forge
pexpect                   4.8.0              pyh1a96a4e_2    conda-forge
pickleshare               0.7.5                   py_1003    conda-forge
pip                       23.2               pyhd8ed1ab_0    conda-forge
pkgutil-resolve-name      1.3.10             pyhd8ed1ab_0    conda-forge
platformdirs              3.9.1              pyhd8ed1ab_0    conda-forge
pluggy                    1.2.0              pyhd8ed1ab_0    conda-forge
prometheus_client         0.17.1             pyhd8ed1ab_0    conda-forge
prompt-toolkit            3.0.39             pyha770c72_0    conda-forge
prompt_toolkit            3.0.39               hd8ed1ab_0    conda-forge
protobuf                  4.23.4                   pypi_0    pypi
psutil                    5.9.5            py39h02fc5c5_0    conda-forge
ptyprocess                0.7.0              pyhd3deb0d_0    conda-forge
pure_eval                 0.2.2              pyhd8ed1ab_0    conda-forge
py-spy                    0.3.14                   pypi_0    pypi
pyarrow                   12.0.1                   pypi_0    pypi
pyasn1                    0.5.0                    pypi_0    pypi
pyasn1-modules            0.3.0                    pypi_0    pypi
pycparser                 2.21               pyhd8ed1ab_0    conda-forge
pydantic                  1.10.11                  pypi_0    pypi
pygments                  2.15.1             pyhd8ed1ab_0    conda-forge
pyobjc-core               9.2              py39h4d1a642_0    conda-forge
pyobjc-framework-cocoa    9.2              py39h4d1a642_0    conda-forge
pysocks                   1.7.1              pyha2e5f31_6    conda-forge
pytest                    7.4.0              pyhd8ed1ab_0    conda-forge
python                    3.9.16          hea58f1e_0_cpython    conda-forge
python-dateutil           2.8.2              pyhd8ed1ab_0    conda-forge
python-fastjsonschema     2.17.1             pyhd8ed1ab_0    conda-forge
python-json-logger        2.0.7              pyhd8ed1ab_0    conda-forge
python_abi                3.9                      3_cp39    conda-forge
pytz                      2023.3             pyhd8ed1ab_0    conda-forge
pyyaml                    6.0              py39h02fc5c5_5    conda-forge
pyzmq                     25.1.0           py39h1e134f0_0    conda-forge
ray                       2.5.1                    pypi_0    pypi
readline                  8.2                  h92ec313_1    conda-forge
referencing               0.30.0             pyhd8ed1ab_0    conda-forge
requests                  2.31.0             pyhd8ed1ab_0    conda-forge
rfc3339-validator         0.1.4              pyhd8ed1ab_0    conda-forge
rfc3986-validator         0.1.1              pyh9f0ad1d_0    conda-forge
rpds-py                   0.9.2            py39haff01fd_0    conda-forge
rsa                       4.9                      pypi_0    pypi
send2trash                1.8.2              pyhd1c38e8_0    conda-forge
setuptools                68.0.0             pyhd8ed1ab_0    conda-forge
six                       1.16.0             pyh6c4a22f_0    conda-forge
smart-open                6.3.0                    pypi_0    pypi
sniffio                   1.3.0              pyhd8ed1ab_0    conda-forge
soupsieve                 2.3.2.post1        pyhd8ed1ab_0    conda-forge
stack_data                0.6.2              pyhd8ed1ab_0    conda-forge
terminado                 0.17.1             pyhd1c38e8_0    conda-forge
tinycss2                  1.2.1              pyhd8ed1ab_0    conda-forge
tk                        8.6.12               he1e0b03_0    conda-forge
tomli                     2.0.1              pyhd8ed1ab_0    conda-forge
tornado                   6.3.2            py39h0f82c59_0    conda-forge
traitlets                 5.9.0              pyhd8ed1ab_0    conda-forge
typing-extensions         4.7.1                hd8ed1ab_0    conda-forge
typing_extensions         4.7.1              pyha770c72_0    conda-forge
typing_utils              0.1.0              pyhd8ed1ab_0    conda-forge
tzdata                    2023.3                   pypi_0    pypi
urllib3                   1.26.16                  pypi_0    pypi
virtualenv                20.21.0                  pypi_0    pypi
wcwidth                   0.2.6              pyhd8ed1ab_0    conda-forge
webencodings              0.5.1                      py_1    conda-forge
websocket-client          1.6.1              pyhd8ed1ab_0    conda-forge
wheel                     0.40.0             pyhd8ed1ab_1    conda-forge
xz                        5.2.6                h57fd34a_0    conda-forge
yaml                      0.2.5                h3422bc3_2    conda-forge
yarl                      1.9.2                    pypi_0    pypi
zeromq                    4.3.4                hbdafb3b_1    conda-forge
zipp                      3.16.2             pyhd8ed1ab_0    conda-forge