# Polars h2o groupby queries

In [3]:
import polars as pl
import gc

## 1e8 CSV

In [2]:
%%time
df_csv_1e8 = pl.read_csv("~/data/G1_1e8_1e2_0_0.csv")
df_csv_1e8.groupby("id1").agg(pl.sum("v1"))

CPU times: user 15.7 s, sys: 9.49 s, total: 25.2 s
Wall time: 6.49 s

shape: (100, 2)
┌───────┬─────────┐
│ id1   ┆ v1      │
│ ---   ┆ ---     │
│ str   ┆ i64     │
╞═══════╪═════════╡
│ id035 ┆ 3002488 │
│ id068 ┆ 2997342 │
│ id082 ┆ 3001692 │
│ id096 ┆ 2997704 │
│ …     ┆ …       │
│ id095 ┆ 3000553 │
│ id023 ┆ 2996678 │
│ id022 ┆ 3001135 │
│ id034 ┆ 2999826 │
└───────┴─────────┘

In [4]:
del df_csv_1e8

In [5]:
gc.collect()

0

## 1e8 Parquet

In [3]:
%%time
df_parquet_1e8 = pl.read_parquet("~/data/parquet/G1_1e8_1e2_0_0.parquet")
df_parquet_1e8.groupby("id1").agg(pl.sum("v1"))

CPU times: user 7.85 s, sys: 1.37 s, total: 9.22 s
Wall time: 2.53 s

shape: (100, 2)
┌───────┬─────────┐
│ id1   ┆ v1      │
│ ---   ┆ ---     │
│ str   ┆ i64     │
╞═══════╪═════════╡
│ id056 ┆ 3004499 │
│ id092 ┆ 3004608 │
│ id036 ┆ 3007324 │
│ id004 ┆ 3000945 │
│ …     ┆ …       │
│ id038 ┆ 3003191 │
│ id090 ┆ 2998808 │
│ id095 ┆ 3000553 │
│ id014 ┆ 2998661 │
└───────┴─────────┘

In [4]:
del df_parquet_1e8

In [5]:
gc.collect()

0

## 1e9 CSV

In [8]:
%%time
df_csv_1e9 = pl.read_csv("~/data/G1_1e9_1e2_0_0.csv")
df_csv_1e9.groupby("id1").agg(pl.sum("v1"))

CPU times: user 2min 34s, sys: 4min 15s, total: 6min 49s
Wall time: 5min 15s

shape: (100, 2)
┌───────┬──────────┐
│ id1   ┆ v1       │
│ ---   ┆ ---      │
│ str   ┆ i64      │
╞═══════╪══════════╡
│ id016 ┆ 30003304 │
│ id054 ┆ 30011978 │
│ id097 ┆ 30015928 │
│ id017 ┆ 29995061 │
│ …     ┆ …        │
│ id018 ┆ 29992469 │
│ id077 ┆ 29990807 │
│ id043 ┆ 30005705 │
│ id094 ┆ 30005130 │
└───────┴──────────┘

In [7]:
del df_csv_1e9

NameError: name 'df_csv_1e9' is not defined

In [4]:
%%time

(
    pl.scan_csv("~/data/G1_1e9_1e2_0_0.csv")
    .filter(pl.col("id1") == 'id016')
    .groupby("id1")
    .agg(pl.sum("v1"))
).collect()

CPU times: user 1min 9s, sys: 34.6 s, total: 1min 43s
Wall time: 30.4 s

shape: (1, 2)
┌───────┬──────────┐
│ id1   ┆ v1       │
│ ---   ┆ ---      │
│ str   ┆ i64      │
╞═══════╪══════════╡
│ id016 ┆ 30003304 │
└───────┴──────────┘

## 1e8 Delta Lake

In [8]:
%%time

df = pl.read_delta("~/data/delta/G1_1e8_1e2_0_0")

df.groupby("id1").agg(pl.sum("v1"))

CPU times: user 7.6 s, sys: 2.93 s, total: 10.5 s
Wall time: 3.26 s

shape: (100, 2)
┌───────┬─────────┐
│ id1   ┆ v1      │
│ ---   ┆ ---     │
│ str   ┆ i32     │
╞═══════╪═════════╡
│ id083 ┆ 2999907 │
│ id025 ┆ 3003923 │
│ id039 ┆ 3007771 │
│ id056 ┆ 3004499 │
│ …     ┆ …       │
│ id041 ┆ 3000990 │
│ id015 ┆ 3002869 │
│ id004 ┆ 3000945 │
│ id064 ┆ 2998428 │
└───────┴─────────┘

In [9]:
df.groupby("id1").agg(pl.sum("v1"))

shape: (100, 2)
┌───────┬─────────┐
│ id1   ┆ v1      │
│ ---   ┆ ---     │
│ str   ┆ i32     │
╞═══════╪═════════╡
│ id089 ┆ 2997861 │
│ id014 ┆ 2998661 │
│ id067 ┆ 3004428 │
│ id062 ┆ 2998476 │
│ …     ┆ …       │
│ id072 ┆ 2999245 │
│ id024 ┆ 2998621 │
│ id071 ┆ 2999093 │
│ id022 ┆ 3001135 │
└───────┴─────────┘

In [6]:
del df

## 1e9 Delta Lake

In [8]:
%%time

(
    pl.scan_delta("~/data/delta/G1_1e9_1e2_0_0")
    .filter(pl.col("id1") == 'id016')
    .groupby("id1")
    .agg(pl.sum("v1"))
).collect()

CPU times: user 1.49 s, sys: 197 ms, total: 1.69 s
Wall time: 836 ms

shape: (1, 2)
┌───────┬──────────┐
│ id1   ┆ v1       │
│ ---   ┆ ---      │
│ str   ┆ i32      │
╞═══════╪══════════╡
│ id016 ┆ 30003304 │
└───────┴──────────┘

## 1e9 Parquet

In [9]:
%%time

(
    pl.scan_parquet("~/data/parquet/G1_1e9_1e2_0_0.parquet")
    .filter(pl.col("id1") == 'id016')
    .groupby("id1")
    .agg(pl.sum("v1"))
).collect()

FileNotFoundError: No such file or directory: /Users/matthew.powers/data/parquet/G1_1e9_1e2_0_0.parquet

## Create the 1e9 Parquet file

In [ ]:
df = pl.scan_csv("~/data/G1_1e9_1e2_0_0.csv")
df.collect().write_parquet("~/data/parquet/G1_1e9_1e2_0_0.parquet")