# Polars h2o groupby queries

In [1]:
import polars as pl

## 1e8 CSV

In [19]:
%%time
df_csv_1e8 = pl.read_csv("~/data/G1_1e8_1e2_0_0.csv")
df_csv_1e8.groupby("id1").agg(pl.sum("v1"))

CPU times: user 15.7 s, sys: 9.15 s, total: 24.9 s
Wall time: 5.1 s

shape: (100, 2)
┌───────┬─────────┐
│ id1   ┆ v1      │
│ ---   ┆ ---     │
│ str   ┆ i64     │
╞═══════╪═════════╡
│ id069 ┆ 3000337 │
│ id035 ┆ 3002488 │
│ id044 ┆ 2999000 │
│ id033 ┆ 2994558 │
│ …     ┆ …       │
│ id066 ┆ 3001928 │
│ id084 ┆ 3002511 │
│ id077 ┆ 2995065 │
│ id024 ┆ 2998621 │
└───────┴─────────┘

In [18]:
del df_csv_1e8

## 1e8 Parquet

In [20]:
%%time
df_parquet_1e8 = pl.read_parquet("~/data/parquet/G1_1e8_1e2_0_0.parquet")
df_parquet_1e8.groupby("id1").agg(pl.sum("v1"))

CPU times: user 7.75 s, sys: 1.97 s, total: 9.72 s
Wall time: 3.73 s

shape: (100, 2)
┌───────┬─────────┐
│ id1   ┆ v1      │
│ ---   ┆ ---     │
│ str   ┆ i64     │
╞═══════╪═════════╡
│ id057 ┆ 2991091 │
│ id063 ┆ 3001829 │
│ id073 ┆ 2996491 │
│ id058 ┆ 2997339 │
│ …     ┆ …       │
│ id017 ┆ 2996486 │
│ id026 ┆ 2995851 │
│ id018 ┆ 2998792 │
│ id024 ┆ 2998621 │
└───────┴─────────┘

In [21]:
del df_parquet_1e8