# Polars h2o groupby queries

In [2]:
import polars as pl

## 1e8 CSV

In [5]:
%%time
df_csv_1e8 = pl.read_csv("~/data/G1_1e8_1e2_0_0.csv")
df_csv_1e8.groupby("id1").agg(pl.sum("v1"))

CPU times: user 15.3 s, sys: 19.7 s, total: 35 s
Wall time: 7.53 s

shape: (100, 2)
┌───────┬─────────┐
│ id1   ┆ v1      │
│ ---   ┆ ---     │
│ str   ┆ i64     │
╞═══════╪═════════╡
│ id084 ┆ 3002511 │
│ id090 ┆ 2998808 │
│ id020 ┆ 3001006 │
│ id046 ┆ 3001731 │
│ …     ┆ …       │
│ id033 ┆ 2994558 │
│ id051 ┆ 3000891 │
│ id081 ┆ 2999941 │
│ id063 ┆ 3001829 │
└───────┴─────────┘

In [6]:
del df_csv_1e8

## 1e8 Parquet

In [20]:
%%time
df_parquet_1e8 = pl.read_parquet("~/data/parquet/G1_1e8_1e2_0_0.parquet")
df_parquet_1e8.groupby("id1").agg(pl.sum("v1"))

CPU times: user 7.75 s, sys: 1.97 s, total: 9.72 s
Wall time: 3.73 s

shape: (100, 2)
┌───────┬─────────┐
│ id1   ┆ v1      │
│ ---   ┆ ---     │
│ str   ┆ i64     │
╞═══════╪═════════╡
│ id057 ┆ 2991091 │
│ id063 ┆ 3001829 │
│ id073 ┆ 2996491 │
│ id058 ┆ 2997339 │
│ …     ┆ …       │
│ id017 ┆ 2996486 │
│ id026 ┆ 2995851 │
│ id018 ┆ 2998792 │
│ id024 ┆ 2998621 │
└───────┴─────────┘

In [21]:
del df_parquet_1e8

## 1e9 CSV

In [8]:
%%time
df_csv_1e9 = pl.read_csv("~/data/G1_1e9_1e2_0_0.csv")
df_csv_1e9.groupby("id1").agg(pl.sum("v1"))

CPU times: user 2min 34s, sys: 4min 15s, total: 6min 49s
Wall time: 5min 15s

shape: (100, 2)
┌───────┬──────────┐
│ id1   ┆ v1       │
│ ---   ┆ ---      │
│ str   ┆ i64      │
╞═══════╪══════════╡
│ id016 ┆ 30003304 │
│ id054 ┆ 30011978 │
│ id097 ┆ 30015928 │
│ id017 ┆ 29995061 │
│ …     ┆ …        │
│ id018 ┆ 29992469 │
│ id077 ┆ 29990807 │
│ id043 ┆ 30005705 │
│ id094 ┆ 30005130 │
└───────┴──────────┘

In [7]:
del df_csv_1e9

NameError: name 'df_csv_1e9' is not defined