# Datafusion h2o groupby queries

In [1]:
import pathlib

from datafusion import SessionContext

In [2]:
# Create a DataFusion context
ctx = SessionContext()

In [42]:
# Register table with context
ctx.register_csv("csv_1e7", f"{pathlib.Path.home()}/data/G1_1e7_1e2_0_0.csv")

In [43]:
ctx.sql("select * from csv_1e7 limit 3")

DataFrame()
+-------+-------+--------------+-----+-----+-------+----+----+-----------+
| id1   | id2   | id3          | id4 | id5 | id6   | v1 | v2 | v3        |
+-------+-------+--------------+-----+-----+-------+----+----+-----------+
| id016 | id016 | id0000042202 | 15  | 24  | 5971  | 5  | 11 | 37.211254 |
| id039 | id045 | id0000029558 | 40  | 49  | 39457 | 5  | 4  | 48.951141 |
| id047 | id023 | id0000071286 | 68  | 20  | 74463 | 2  | 14 | 60.469241 |
+-------+-------+--------------+-----+-----+-------+----+----+-----------+

In [ ]:
ctx.sql("DROP TABLE csv_1e7")

In [17]:
# Execute SQL
ctx.sql("SELECT id1, sum(v1) AS v1 from csv_1e7 GROUP BY id1")

DataFrame()
+-------+--------+
| id1   | v1     |
+-------+--------+
| id081 | 300295 |
| id001 | 299542 |
| id045 | 298932 |
| id007 | 299840 |
| id063 | 300263 |
| id076 | 300168 |
| id024 | 299008 |
| id022 | 298647 |
| id019 | 300576 |
| id086 | 301045 |
+-------+--------+

In [18]:
ctx.sql("DROP TABLE csv_1e7")

DataFrame()
++
++

## 1e8 CSV

In [8]:
%%time

res = ctx.register_csv("csv_1e8", f"{pathlib.Path.home()}/data/G1_1e8_1e2_0_0.csv")

print(res)

None
CPU times: user 35.6 ms, sys: 6.28 ms, total: 41.9 ms
Wall time: 40.5 ms

In [9]:
%%time
res = ctx.sql("SELECT id1, sum(v1) AS v1 from csv_1e8 GROUP BY id1")
print(res)

DataFrame()
+-------+---------+
| id1   | v1      |
+-------+---------+
| id022 | 3001135 |
| id019 | 2997246 |
| id045 | 2995056 |
| id001 | 2997617 |
| id076 | 2998717 |
| id081 | 2999941 |
| id024 | 2998621 |
| id007 | 2998978 |
| id063 | 3001829 |
| id094 | 2997173 |
+-------+---------+
CPU times: user 9.16 s, sys: 709 ms, total: 9.87 s
Wall time: 9.83 s

In [10]:
ctx.sql("DROP TABLE csv_1e8")

DataFrame()
++
++

## 1e8 Parquet

In [3]:
%%time
ctx.register_parquet(
    "parquet_1e8", f"{pathlib.Path.home()}/data/parquet/G1_1e8_1e2_0_0.parquet"
)

CPU times: user 1.23 ms, sys: 4.19 ms, total: 5.41 ms
Wall time: 8.73 ms

In [4]:
%%time
res = ctx.sql("SELECT id1, sum(v1) AS v1 from parquet_1e8 GROUP BY id1")
print(res)

DataFrame()
+-------+---------+
| id1   | v1      |
+-------+---------+
| id022 | 3001135 |
| id019 | 2997246 |
| id001 | 2997617 |
| id024 | 2998621 |
| id045 | 2995056 |
| id007 | 2998978 |
| id076 | 2998717 |
| id063 | 3001829 |
| id081 | 2999941 |
| id020 | 3001006 |
+-------+---------+
CPU times: user 2.95 s, sys: 52.2 ms, total: 3 s
Wall time: 2.01 s

## 1e9 CSV

In [3]:
%%time

res = ctx.register_csv("csv_1e9", f"{pathlib.Path.home()}/data/G1_1e9_1e2_0_0.csv")

print(res)

None
CPU times: user 34.7 ms, sys: 7.69 ms, total: 42.4 ms
Wall time: 44.7 ms

In [4]:
%%time
res = ctx.sql("SELECT id1, sum(v1) AS v1 from csv_1e9 GROUP BY id1")
print(res)

DataFrame()
+-------+----------+
| id1   | v1       |
+-------+----------+
| id094 | 30005130 |
| id061 | 30012298 |
| id064 | 29985828 |
| id074 | 30006309 |
| id021 | 29982118 |
| id088 | 29999642 |
| id031 | 29998489 |
| id089 | 29990077 |
| id042 | 29989540 |
| id002 | 29996534 |
+-------+----------+
CPU times: user 1min 32s, sys: 7.88 s, total: 1min 40s
Wall time: 1min 39s

In [5]:
ctx.sql("DROP TABLE csv_1e9")

DataFrame()
++
++