# Datafusion h2o groupby queries

In [14]:
import pathlib

from datafusion import SessionContext

In [15]:
# Create a DataFusion context
ctx = SessionContext()

In [16]:
# Register table with context
ctx.register_csv('csv_1e7', f"{pathlib.Path.home()}/data/G1_1e7_1e2_0_0.csv")

In [17]:
# Execute SQL
ctx.sql("SELECT id1, sum(v1) AS v1 from csv_1e7 GROUP BY id1")

DataFrame()
+-------+--------+
| id1   | v1     |
+-------+--------+
| id081 | 300295 |
| id001 | 299542 |
| id045 | 298932 |
| id007 | 299840 |
| id063 | 300263 |
| id076 | 300168 |
| id024 | 299008 |
| id022 | 298647 |
| id019 | 300576 |
| id086 | 301045 |
+-------+--------+

In [18]:
ctx.sql("DROP TABLE csv_1e7")

DataFrame()
++
++

## 1e8 CSV

In [21]:
%%time
ctx.register_csv('csv_1e8', f"{pathlib.Path.home()}/data/G1_1e8_1e2_0_0.csv")

CPU times: user 39.5 ms, sys: 4.65 ms, total: 44.1 ms
Wall time: 40.1 ms

In [31]:
%%time
res = ctx.sql("SELECT id1, sum(v1) AS v1 from csv_1e8 GROUP BY id1")
print(res)

DataFrame()
+-------+---------+
| id1   | v1      |
+-------+---------+
| id034 | 2999826 |
| id091 | 3002225 |
| id084 | 3002511 |
| id048 | 2999693 |
| id026 | 2995851 |
| id052 | 3008005 |
| id078 | 2999607 |
| id006 | 3003431 |
| id066 | 3001928 |
| id047 | 2992872 |
+-------+---------+
CPU times: user 9.22 s, sys: 750 ms, total: 9.97 s
Wall time: 9.94 s

In [20]:
ctx.sql("DROP TABLE csv_1e8")

DataFrame()
++
++

## 1e8 Parquet

In [24]:
%%time
ctx.register_parquet('parquet_1e8', f"{pathlib.Path.home()}/data/parquet/G1_1e8_1e2_0_0.parquet")

CPU times: user 1.21 ms, sys: 2.83 ms, total: 4.04 ms
Wall time: 2.28 ms

In [32]:
%%time
res = ctx.sql("SELECT id1, sum(v1) AS v1 from parquet_1e8 GROUP BY id1")
print(res)

DataFrame()
+-------+---------+
| id1   | v1      |
+-------+---------+
| id053 | 2997205 |
| id069 | 3000337 |
| id097 | 3004476 |
| id015 | 3002869 |
| id073 | 2996491 |
| id065 | 3003111 |
| id087 | 3002390 |
| id008 | 2999124 |
| id057 | 2991091 |
| id018 | 2998792 |
+-------+---------+
CPU times: user 3.1 s, sys: 51.5 ms, total: 3.15 s
Wall time: 2.11 s