In [27]:
from datafusion import SessionContext

In [28]:
ctx = SessionContext()

## Create a DataFrame

In [29]:
df = ctx.from_pydict({"a": [1, 2, 3, 1], "b": [4, 5, 6, 7]}, name="my_table")

In [31]:
ctx.sql("select * from my_table limit 2")

DataFrame()
+---+---+
| a | b |
+---+---+
| 1 | 4 |
| 2 | 5 |
+---+---+

In [25]:
df

DataFrame()
+---+---+
| a | b |
+---+---+
| 1 | 4 |
| 2 | 5 |
| 3 | 6 |
| 1 | 7 |
+---+---+

## Query the DataFrame with SQL

In [18]:
ctx.sql("select a, b, a + b as sum_a_b from my_table")

DataFrame()
+---+---+---------+
| a | b | sum_a_b |
+---+---+---------+
| 1 | 4 | 5       |
| 2 | 5 | 7       |
| 3 | 6 | 9       |
| 1 | 7 | 8       |
+---+---+---------+

## Query the DataFrame with Python

In [19]:
from datafusion import col

In [22]:
df.select(
    col("a"),
    col("b"),
    col("a") + col("b"),
)

DataFrame()
+---+---+-------------------------+
| a | b | my_table.a + my_table.b |
+---+---+-------------------------+
| 1 | 4 | 5                       |
| 2 | 5 | 7                       |
| 3 | 6 | 9                       |
| 1 | 7 | 8                       |
+---+---+-------------------------+

## Cleanup

In [26]:
ctx.sql("drop table my_table")

DataFrame()
++
++